<%= render "shared/header2" %>
<h1>トレーニングの記録が完了しました。</h1>
<%= link_to root_path do %>
<div class="recorded">
<button class="index-btn">顧客一覧に戻る</button>
<% end %>
<%= link_to customer_path(@customer.id) do %>
<button class="index-btn">顧客詳細ページへ</button>
<% end %>
</div>