/* リセットCSS */

body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  text-align:center;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
  color: #244472;
}


ul,li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* リセットCSSココまで */

/* スピンボタン削除 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* スピンボタン削除 */

.header_bar{
  background-color: #000c28;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_bar{
  background-color: white;
  height: 10vh;
}

.header-title{
  color: white;
  font-size: 25px;
  padding-left:25px;
  text-decoration: none;
}

.user{
  color: white;
  padding-right: 95px;
  text-decoration: none;
}

.sign-up,.log-out,.sign-in{
  color: white;
  padding-right: 25px;
  text-decoration: none;
}

.customer-input-link{
  color: white;
  padding-right: 25px;
  text-decoration: none;
}

.new_user{
  background-color: #fafafa;
  width: 70vw;
  text-align:center;
  margin: 0 auto;
}

.field{
  height: 80px;
}

.input-default{
  height: 40px;
  font-size: 15px;
  width: 250px;
}

.sign-up-btn,.log-in-btn,.customer-input-btn,.index-btn,.recording-btn{
  height: 45px;
  width: 200px;
  font-size: 20px;
  background-color: #244472;
  border: none;
  color: white;
  margin:  20px;
}
.sign-up-ja{
  padding: 0px;
  margin-bottom: 30px;
}

.claim{
  background-color: #244472;
  color: white;
  font-size: 8px;
  padding: 3px;
}

/* 顧客登録画面css */

.customer-form{
  background-color: #fafafa;
  width: 70vw;
  margin: 0 auto;
  align-items: center;
  height: auto;
}

.name-form{
  height: 35px;
  width: 120px;
  margin-right:10px;
}

.required-input{
  color: white;
  background-color: red;
  font-weight: bold;
}

.optical-input{
  color: white;
  background-color: navy;
  font-weight: bold;
}

.birthday-form{
  height: 35px;
  width: 70px;
}

.postcode-form{
  height: 35px;
  width: 70px;
}

.prefecture-form{
  height: 35px;
  width: 70px;
}

.city-form{
  height: 35px;
  width: 180px;
}

.address-form,.build-form{
  height: 35px;
  width: 280px;
}

.tel-form{
  height: 35px;
  width: 100px;
}

.job-form{
  height: 35px;
  width: 150px;
}

.course-form{
  height: 35px;
  width: 250px;
}

.height-form{
  height: 35px;
  width: 50px;
}

.height-few{
  font-size:2px;
  color: gray;}

.customer-formbox{
  display: flex;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form-title{
  width:150px;
  text-align: left;
}


.input-birth-wrap{
  display: flex;
  width: 200px;
  height: 35px;
}


/* 顧客情報一覧画面css */

.customer-input-text{
  background-color: #000c28;
  color: white;
}

.top-border{
  width: 670px;
  height: 0px;
  border: solid #000c28 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: red;
  margin: 0 auto;
}

.customer-info-box{
  width: 650px;
  margin: 0 auto;
  display: flex;
  height: 100px;
  border: solid #000c28 1px;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 10px;
}

.customer-image{
  background-color: black;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 100px;
}

.image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.customer-id-course{
  display: flex;
  height:30px;
}

.id-number{
  background-color: none;
  width: 40px;
  line-height: 30px;
  text-align: right;
}

.customer-id{
  background-color:  none;
  width: 60px;
  line-height: 30px;
}

.customer-course{
  background-color: #000c28 ;
  width: 250px;
  line-height: 30px;
  color: white;
  border-radius: 10px;
}

.customer-name-count{
  background-color: none;
  display: flex;
  height: 70px;
}
.customer-name{
  background-color: none;
  width: 200px;
  line-height: 70px;
}

.name{
  font-size: 20px;
}

.training-count{
  background-color: none;
  width: 150px;
  line-height: 70px;
}

.recording{
  background-color: none;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.record-btn{
  height: 40px;
  width: 150px;
  font-size: 18px;
  background-color: #244472;
  color: white;
  border: none;
  /* border-radius: 10px; */
  margin: 5px;
}

.customer-show{
  text-decoration: none;
  color: black;
}

/* 顧客詳細、実績画面css */

.customer-show-box{
 background-color: #fafafa;
 width: 900px;
 margin: 0 auto;
 height: 100vh;
 display:flex;
 margin-top: 30px;
}

.profile{
  background-color: none;
  width: 200px;
  height: 200px;
}

.result{
  background-color:  #fafafa;
  width: 700px;
}

.profile-image-box{
  background-color: black;
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 200px;
}

.profile-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-title{
  text-align: center;
  color: black;
}

.profile-info{
  text-align: center;
  font-size: 12px;
  font-family: "Arial", "メイリオ";
  background-color: lightgray;
  margin-top: 20px;
}

.profile-item{
  display: flex;
  background-color: none ;
}

.profile-item-title{
  width: 60px;
  background-color: none;
  text-align: right;
}

.item-text{
  text-align: center;
  background-color: none;
  width: 140px;
  margin: 2px;
}

.edit-btn,.delete-btn{
  height: 30px;
  width: 120px;
  font-size: 12px;
  background-color: #244472;
  color: white;
  border: none;
  margin: 10px;
}

/* トレーニング記録・編集画面css */

.training-form{
  background-color: #fafafa;
  width: 70vw;
  margin: 0 auto;
  align-items: center;
  height: 450px;
}

.training-customer-date{
  display: flex;
  background-color: none;
  width: 650px;
  margin: 0 auto;
}

.training-form-image-box{
  margin-left: 5px;
  margin-right: 5px;
  height: 70px;
  width: 70px;
  position: relative;
  overflow: hidden;
  border-radius: 70px;
}

.training-form-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.training-form-name{
  background-color: none;
  width: 100px;

}

.name-form-k{
  height: 20px;
  background-color: none;
  font-size: 12px;
  width: 100px;
  line-height: 20px;
}

.name-form-main{
  height: 50px;
  background-color: none;
  width: 100px;
  font-size: 20px;
  line-height: 50px;
}

.training-form-height-age{
  width: 150px;
  background-color: none;
  font-size: 12px;
  height: 70px;
  line-height: 90px;
}

.training-form-course{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
}

.training-course-title{
  background-color:  none;
  width: 180px;
  height: 30px;
  background-color: #000c28 ;
  line-height: 30px;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  margin: 0 auto;
  
}

.training-record{
  background-color: none;
  height: 300px;
  display: flex;
  width: 650px;
  margin: 0 auto;
}

.training-input-form{
  height: 30px;
  width: 60px;
  margin-bottom: 15px;
}

.weight-body-fat,.blood{
  padding-top: 30px;
}

.training-item-title{
  width:60px;
  line-height: 45px;
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
}

.weight,.body-fat,.blood-max,.blood-min,.pulse{
  display: flex;
}

.unit{
  line-height: 45px;
  font-size: 14px;
  margin-right:10px;
  margin-left: 3px;
  font-weight: 800;
}

.part{
  font-weight: 1000px;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
}

.training-text{
  height: 100px;
  width: 200px;
  margin-left: 25px;
} 

.recording-error{
  background-color: none;
  margin-bottom: 20px;
}

.recorded{
  display: flex;
  width: 70vw;
  justify-content: center;
  margin: 0 auto;
}

/* 顧客詳細画面トレーニング情報追加 */

.result{
  background-color: none;
  height: 800px;
  width: 700px;
  margin-left: 5px;
}

.number-of-times{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.customer-course-times{
  background-color: #000c28 ;
  width: 250px;
  line-height: 30px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  margin-right: 75px;
}

.show-recording-btn{
  height: 30px;
  width: 120px;
  font-size: 12px;
  background-color: #244472;
  color: white;
  border: none;
  margin-right: 20px;
}

.training-data-column{
  background-color: none;
  height: 20px;
  display: flex;
  font-size: 12px;
  border: solid 1px;
  border-left: none;
  border-right: none;
  border-top: none;
}


.count-column,.count-data{
  background-color: none;
  width:30px;
}

.data-column,.date-data{
  background-color: none;
  width: 100px;
}

.weight-column,.fat-column,.pulse-column{
  background-color : none;
  width: 55px;
}

.blood-column{
  background-color : none;
  width: 60px;
}


.course-column,.course-data{
  background-color: none;
  width: 180px;
}

.remarks-column,.remarks-data{
  background-color: none;
  width: 40px;
}

.training-data{
  background-color: none;
  height: 30px;
  display: flex;
  line-height: 30px;
  font-size: 12px;
  border: solid 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.weight-data,.fat-data,.pulse-data{
  background-color : none;
  width: 50px;

  text-align: right;
  padding-right: 5px;
}

.blood-data{
  background-color : none;
  width: 55px;

  text-align: right;
  padding-right: 5px;
}

.part-font{
  background-color: #000c28 ;
  color: white;
  border-radius: 3px;
  font-size: 2px;
  padding:3px;
}

.result-unit{
  font-size: 0.1px;
}

.data-edit-btn,.data-delete-btn{
  height: 25px;
  font-size: 12px;
  width: 45px;
  background-color: #244472;
  color: white;
  border: none;
  margin-left: 3px;
}