/* リセットCSS */

body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
  text-align:center;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
  color: #244472;
}


ul,li {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* リセットCSSココまで */

.header_bar{
  background-color: #000c28;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_bar{
  background-color: white;
  height: 10vh;
}

.header-title{
  color: white;
  font-size: 25px;
  padding-left:25px;
  text-decoration: none;
}

.sign-up,.log-out,.sign-in{
  color: white;
  padding-right: 25px;
  text-decoration: none;
}

.new_user{
  background-color: #fafafa;
  width: 70vw;
  text-align:center;
  margin: 0 auto;
}

.field{
  height: 80px;
}

.input-default{
  height: 40px;
  font-size: 15px;
  width: 250px;
}

.sign-up-btn,.log-in-btn,.customer-input-btn{
  height: 45px;
  width: 200px;
  font-size: 20px;
  background-color: #244472;
  border: none;
  color: white;
  margin:  20px;
}
.sign-up-ja{
  padding: 0px;
}

.claim{
  background-color: #244472;
  color: white;
  font-size: 8px;
  padding: 3px;
}

/* 顧客登録画面css */

.customer-form{
  background-color: #fafafa;
  width: 70vw;
  margin: 0 auto;
  align-items: center;
}

.name-form{
  height: 35px;
  width: 120px;
  margin: 3px;
}

.required-input{
  color: white;
  background-color: red;
  font-weight: bold;
}

.optical-input{
  color: white;
  background-color: navy;
  font-weight: bold;
}

.birthday-form{
  height: 35px;
  width: 70px;
}

.postcode-form{
  height: 35px;
  width: 70px;
}

.prefecture-form{
  height: 35px;
  width: 70px;
}

.city-form{
  height: 35px;
  width: 180px;
}

.address-form,.build-form{
  height: 35px;
  width: 280px;
}

.tel-form{
  height: 35px;
  width: 100px;
}

.job-form{
  height: 35px;
  width: 150px;
}

.course-form{
  height: 35px;
  width: 250px;
}

.height-form{
  height: 35px;
  width: 50px;
}

.customer-formbox{
  display: flex;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form-title{
  width:150px;
  text-align: left;
}


.input-birth-wrap{
  display: flex;
  width: 200px;
  height: 35px;
}